<h2>List of Teachers</h2>
<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Assigned Classrooms</th>
            <th>Courses</th>
        </tr>
    </thead>
    <tbody>
        {% for teacher in teachers %}
        <tr>
            <td>{{ teacher.first_name }}</td>
            <td>{{ teacher.last_name }}</td>
            <td>{{ teacher.age }}</td>
            <td>{{ teacher.class_enrolled }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
